<div class="btn-group navbar-right" role="group">
    <div ng-show="!isUserSignedIn">
      <button type="button" class="btn btn-primary navbar-btn"
        ng-click="handleAuthClick()"
        ng-disabled="isUserSignedIn">
        Login &nbsp;<span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
    <div ng-show="isUserSignedIn">
      <button type="button" class="btn btn-danger navbar-btn"
        ng-click="handleSignoutClick()"
        ng-disabled="!isUserSignedIn">
        Logout  &nbsp;<span class="glyphicon glyphicon-log-out"></span>
      </button>
    <img
      ng-src="{{userPicture}}"
      class="img-circle img-responsive pull-right navbar-text"
      width="40px" heigth="40px">
    </div>
</div>
