

    <div class="row" ng-controller="TimesheetCtrl">
      <div class="col-md-12">

<!--
        <div class="page-header page-header-bleed-right">
          <div class="actions pull-right">
            <a href="#"><span class="pficon pficon-refresh"></span> Refresh Results</a>
          </div>
          <h1>Dashboard</h1>
        </div>
      </div>
-->
    <div class="row toolbar-pf">
      <div class="col-sm-12">
        <h5 class="pull-right">3 últimas entradas da Planilha</h5>
      </div><!-- /col -->
    </div><!-- /row -->

      <div class="list-group list-view-pf">

        <div data-link="details.html" class="list-group-item">
          <a href="details.html" class="list-group-item-link"></a>
          <div class="list-view-pf-actions">
            <button class="btn btn-default">Action</button>
            <div class="dropdown pull-right dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
              </ul>
            </div>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  VALE
                </div>
                <div class="list-group-item-text">
                  Apresentação de Fuse Integration Services
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <span class="fa fa-clock-o"></span>
                  <strong>2</strong> Horas
                </div>
                <div class="list-view-pf-left">
                  <span class="fa fa-plane list-view-pf-icon-sm"></span>
                </div>
                <div class="list-view-pf-additional-info-item">
                  Vitória - ES
                </div>
              </div>
            </div>
          </div>
        </div><!-- list-group-item -->

        <div data-link="details.html" class="list-group-item">
          <a href="details.html" class="list-group-item-link"></a>
          <div class="list-view-pf-actions">
            <button class="btn btn-default">Action</button>
            <div class="dropdown pull-right dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
              </ul>
            </div>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  Anbima
                </div>
                <div class="list-group-item-text">
                  Apresentação de Fuse Integration Services
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <span class="fa fa-clock-o"></span>
                  <strong>6</strong> Horas
                </div>
                <div class="list-view-pf-left">
                  <span class="pficon pficon-home list-view-pf-icon-sm"></span>
                </div>
                <div class="list-view-pf-additional-info-item">
                  Centro - RJ
                </div>
              </div>
            </div>
          </div>
        </div><!-- list-group-item -->

        <div data-link="details.html" class="list-group-item">
          <a href="details.html" class="list-group-item-link"></a>
          <div class="list-view-pf-actions">
            <button class="btn btn-default">Action</button>
            <div class="dropdown pull-right dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
              </ul>
            </div>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  Globosat
                </div>
                <div class="list-group-item-text">
                  Apresentação de Fuse Integration Services
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <span class="fa fa-clock-o"></span>
                  <strong>4</strong> Horas
                </div>
                <div class="list-view-pf-left">
                  <span class="pficon pficon-home list-view-pf-icon-sm"></span>
                </div>
                <div class="list-view-pf-additional-info-item">
                  Barra da Tijuca - RJ
                </div>
              </div>
            </div>
          </div>
        </div><!-- list-group-item -->

        <div class="synchronize-button">
            <button class="btn btn-primary btn-lg btn-group-justified">
                <span class="fa fa-refresh"></span> Sincronizar!
            </button>
        </div>


    <div class="row toolbar-pf">
      <div class="col-sm-12">
        <h5 class="pull-right">3 últimos eventos do google agenda</h5>
      </div><!-- /col -->
    </div><!-- /row -->

      <div class="list-group list-view-pf">

        <div data-link="details.html" class="list-group-item" ng-repeat='event in calendarEvents'>
          <a href="details.html" class="list-group-item-link"></a>
          <div class="list-view-pf-actions">
            <button class="btn btn-default">Action</button>
            <div class="dropdown pull-right dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
              </ul>
            </div>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  {{event.customer}}
                </div>
                <div class="list-group-item-text">
                  {{event.description}}
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <span class="fa fa-clock-o"></span>
                  <strong>{{event.duration}}</strong> Horas
                </div>
                <div class="list-view-pf-left">
                  <span class="pficon pficon-home list-view-pf-icon-sm" ng-if="!event.remote"></span>
                  <span class="fa fa-plane list-view-pf-icon-sm" ng-if="event.remote"></span>
                </div>
                <div class="list-view-pf-additional-info-item">
                  {{event.location}}
                </div>
              </div>
            </div>
          </div>
        </div><!-- list-group-item -->
      </div>
    </div>
  </div>